services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: openjdk:17-jdk-slim
    container_name: backend-container
    ports:
      - "8080:8080"
    expose:
      - "8080"
    networks:
      - fullstack-networks
  
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: node:22-alpine
    container_name: frontend-container
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - fullstack-networks

networks:
  fullstack-networks:
    driver: bridge