services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: openjdk:17-jdk-slim
    container_name: backend-container
    ports:
      - "8080:8080"
    expose:
      - "8080"
    networks:
      - fullstack-networks

networks:
  fullstack-networks:
    driver: bridge