services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: openjdk:17-jdk-slim
    container_name: backend-container
    ports:
      - "8080:8080"
    expose:
      - "8080"
    networks:
      - fullstack-networks

  redis:
    image: redis:7.4-alpine
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data


networks:
  fullstack-networks:
    driver: bridge

volumes:
  redis-data:
    driver: local