server:
  port: 8080

spring:
  data:
    mongodb:
      host: localhost
      port: 27017
      database: dietary
  mail:
    host: smtp.gmail.com
    port: 587
    username: abdusharipovizzat03@gmail.com
    password: clyp nvku jphl fjny
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true


jwt:
  secret: uzbekistan_uzbekistan_0123456789
  access_time: 96000
  refresh_time: 604800000